.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  backdrop-filter: blur(15px);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(45deg, #7b2ff7, #f107a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.sign-in {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: linear-gradient(45deg, #f107a3, #7b2ff7);
  color: white;
  font-weight: bold;
}

/* Responsive */
@media screen and (max-width: 768px) {
  
  .navbar {
    justify-content: space-around; /* center search + sign in */
  }
  
  
  .sign-in {
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
  }
}



@media screen  and (max-width: 440px) {
   
  
}

